@media(max-width:1014px) {


     .microsoft-nav-logo img {
          width: 20vw;

     }

}

@media(max-width:770px) {

     .nav-left-links {
          display: none;
     }

     .nav-right-links {
          display: none;
     }

     .nav-bar-tablet {
          width: 100vw;
          display: flex;
          align-items: center;
          justify-content: center;
          justify-content: space-between;
     }

     .nav-bar-tablet span i {
          padding: 1vw;
          font-size: 3.1vw;
     }

     .nav-bar-tablet span img {
          width: 23vw;
     }

     /* Hero-section */
     
.hero-section{
     background-size: 180% 55%;
     background-position: 100% 0%;
      align-items: flex-start;
     justify-content: flex-end;
     flex-direction: column;
     padding-left: 50px;
     padding-bottom: 40px;
}
.hero-textsection br{
     display: none;

}


.hero-links{

     flex-direction: row;
}

.hero-links a{
     padding: 10px 0 0 10px;
}


 /* Product-Link-section2 */
 
.product-link-container {
     width: 60%;
     height: 90%;
     grid-template-columns: 1fr;
     grid-template-rows: repeat(4, 1fr);

}

.product-links {
     padding-bottom: 45px;
}

/* Section3-laptops */

.section3-grid-container {
     width: 100%;
     grid-template-rows: repeat(4, 1fr);
     grid-template-columns: 1fr;
     row-gap: 55px;
}

.section3-grid-items {
     padding: 0 6px 0 6px;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
}

.section3-grid-items img {
     width: 98%;
}


/* Section4-microsoft-edge */
.section4-microsoft-edge{
padding: 5px;
     height: 95vh;
     align-items: center;
     flex-direction: column;
     justify-content: center;

}

.microsoft-edge-bg{
     width: 95%;
      height: 60%;
      position: static;
      background-size: cover;
}

.edge-text{
     position: static;
padding: 0 0 10px 15px;
     width: 95%;
     height: 40%;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
}

/* Footer */
footer{
     width: 100vw;
     height: auto;
     display: flex;
     /* align-items: center; */
     padding: 25px 5px 5px 45px;
     justify-content: flex-start;
     justify-content: space-evenly;
     flex-direction: column;
}
footer h1{
     margin-top: 30px;
}


.footer-copyright-section{
     width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.footer-links {
     width: 100%;
     flex-direction: column;
     padding: 0;
     font-size: 1.6vw;
}

/* Social-media-links */
.social-media-links{

     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: space-evenly;
     flex-direction: column;
}
.social-links{
     width: 80%;
}
.back-to-top-btn{
 width: 80%;
 justify-content: center;
 margin-top: 25px;
}

.back-to-top-btn button{
     width: 400px;
     padding: 5px 1px;
     font-size: 20px;
     font-weight: 500;
}

}

@media(min-width:770px) and (max-width:913px){

     
/* Section3-laptops */

.section3-grid-container {
     width: 100%;
     grid-template-rows: repeat(4, 1fr);
     grid-template-columns: 1fr;
     row-gap: 55px;
}

.section3-grid-items {
     padding: 0 6px 0 6px;
     align-items: flex-start;
     justify-content: center;
     flex-direction: column;
}

.section3-grid-items img {
     width: 98%;
}

/* Section4-microsoft-edge */
.section4-microsoft-edge{
     padding: 5px;
          height: 95vh;
          align-items: center;
          flex-direction: column;
          justify-content: center;
     
     }
     
     .microsoft-edge-bg{
          width: 95%;
           height: 60%;
           position: static;
           background-size: cover;
     }
     
     .edge-text{
          position: static;
     padding: 0 0 10px 15px;
          width: 95%;
          height: 40%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
     }
     


}